@import "https://unpkg.com/open-props";


.titlecontainer {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 30%;
}

@media (Max-width:800px) {
    .titlecontainer {
        margin-left: 15%;
        width: 50%;
    }
}

.contacttitle {
    color: rgb(255, 255, 255);
    font-size: 60px;
}

@media (Max-width:800px) {
    .contacttitle {
        margin-left: 30%;
        font-size: 30px;
    }
}

.contacttext {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

@media (Max-width:800px) {
    .contacttext {
        margin-left: 30%;
        font-size: 8px;
        margin-bottom: 5%;
    }
}

.head-text, .header-title {
    margin-bottom: 30px;
}

.header-title {
    font-size: 50px;
}

::placeholder, input, .header-text {
    font-size: 18px;
}

.contact-form, footer {
    margin: 0px auto;  
    max-width: 580px;
}

form {
    margin-top: 1%;
    display: grid; 
    gap: 30px;   
}

::placeholder {
    color: #fff;
}

.form-item {
    padding: 20px;
    background-color: #1d1d20;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

textarea {
    height: 200px;    
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-weight: bold;
    border:0;
    cursor:pointer;
    color: black;
    font-size: 23px;
    padding: 10px 0px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.475);
}



@media (max-width: 800px) {
    .contact-form {
        padding: 15px;
    }
}


