body {
    background-color: #1d1d20;
}

.intro {
    background-color: #1d1d20;
    color: rgb(0, 255, 255);
    font-weight: bolder;
}

.ik {
    border-radius: 100%;
    border: 5px solid rgb(0, 255, 255);
    width: 5%;
    height: 5%;
}

.nav-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(0, 255, 255);
    min-height: 180px;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav {
    margin-left: auto;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    float: right;
}

li a {
    font-size: 75px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: pink;
}