body {
    background-color: #1d1d20;
} 

.intro {
    background-color: #1d1d20;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.ik img {
    margin-left: 10%;
    border: 1px solid rgb(0, 0, 0);
    width: 10%;
    height: 10%;
}