@import "https://unpkg.com/open-props";

body {
    box-sizing: border-box;
    background-color: #1d1d20;
}

.homecontainer {
    width: 70%;
}

.name {
    font-size: 50px;
    margin-top: 4%;
    margin-left: 50%;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #00ffff 0%,
      #ffffff 29%,
      #dddddd 67%,
      #00ffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.hometext {
    font-size: 20px;
    line-height: 30px;
    background-color: #1d1d20;
    color: rgb(255, 255, 255);
    margin-left: 50%;
}

.contact {
    margin-top: 2%;
    margin-left: 50%;
}

.contactbutton {
    margin-top: -100px;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    animation: pulse 5s infinite;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(0, 255, 255);
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-logo {
    display: inline;
    font-size: 70px;
    font-weight: bolder;
    width: 40%;
    margin-bottom: 1%;
}

.image {
    margin-top: 1%;
    width: 100px;
}

nav {
    list-style-type: none;
}


li {
    float: left;
}

li a {
    font-size: 50px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: rgba(0, 255, 255, 0.332);;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.footerline {
    background-color: rgba(0, 255, 255, 0.5);
    min-height: 1px;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 3px;
    width: 100%;
}

.footertext {
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    margin-left: 25%;
}

.footercontainer {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: auto;
}

.iconclass {
    margin-top: 5%;
    padding: 0px 5px;
    float: right;
}

.icon {
    height: 50px;
}

/* FORUM */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 25px;
    z-index: 9;
    color: rgb(255, 255, 255);
}
  
.form-container {
    border-radius: 25px;
    max-width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 25px;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.form-container input[type=veeltext], .form-container input[type=password] {
    width: 80%;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 25px;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}
  
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container input[type=veeltext]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 25px;
}
  
.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}